header {
  height: auto;
  width: 100%;
  font-family: sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #ff7500;
  padding: 20px 150px;
}

header nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav__menu .menues {
  padding: 0 50px;
}

header nav .nav__menu .menues a {
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

header nav .nav__menu .menues a:nth-child(1) {
  border-bottom: 5px solid #ff7500;
  color: #ff7500;
  padding-bottom: 15px;
}

header nav .nav__menu .menues a:hover {
  border-bottom: 5px solid #ff7500;
  color: #ff7500;
  padding-bottom: 15px;
}

header nav .nav__menu .btn button {
  height: 39px;
  width: 155px;
  left: 455px;
  top: 0px;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  border: none;
  background: #ff7500;
  color: #fff;
}

header .container {
  height: 538px;
  width: 100%;
  background: #252420;
}

header .container .container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 150px;
}

header .container .container__menu .container__text {
  width: 30%;
}

header .container .container__menu .container__text .line {
  width: 20%;
  height: 5px;
  background: #ff7500;
}

header .container .container__menu .container__text .text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fff;
}

header .container .container__menu .container__text .text p {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fff;
}

header .container .container__menu .container__text .btn {
  padding-top: 25px;
}

header .container .container__menu .container__text .btn button {
  height: 39px;
  width: 155px;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  border: none;
  background: #ff7500;
  color: #fff;
}

header .container .container__menu .container__img img {
  padding-top: 50px;
}

#sec__1 {
  height: 538px;
  width: 100%;
  padding-top: 150px;
  font-family: sans-serif;
}

#sec__1 .page__1 {
  padding: 0 150px;
  width: 80%;
}

#sec__1 .page__1 .line {
  width: 6%;
  height: 5px;
  background: #ff7500;
}

#sec__1 .page__1 h2 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0.5px;
  text-align: left;
}

#sec__1 .page__1 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec__1 .page__1 .row .col__1 {
  width: 25%;
}

#sec__1 .page__1 .row .col__1 .theme {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-align: left;
}

#sec__1 .page__1 .row .col__1 .text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

#sec__2 {
  height: 538px;
  width: 100%;
  padding-top: 150px;
  font-family: sans-serif;
}

#sec__2 .card {
  width: 75%;
  margin: auto;
  border-radius: 5px;
  background: #252420;
  padding: 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec__2 .card .card__text {
  width: 40%;
}

#sec__2 .card .card__text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fff;
}

#sec__2 .card .card__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

#sec__2 .card .card__text p span {
  color: #ff7500;
}

#sec__2 .card .card__text .btn button {
  height: 39px;
  width: 155px;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  border: none;
  background: #ff7500;
  color: #fff;
}

#sec__2 .card .card__img img {
  z-index: 9999;
  margin-top: -50px;
  padding-bottom: 50px;
}

footer {
  height: 538px;
  width: 100%;
  padding-top: 150px;
  font-family: sans-serif;
}

footer .container {
  background: #f8f8f8;
  padding: 60px 150px;
}

footer .container .brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  border-bottom: 3px solid #252420;
}

footer .container .brend .contact a {
  padding: 0 8px;
}

footer .container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

footer .container .about .text {
  height: 250px;
}

footer .container .about .text span {
  color: #ff7500;
}
/*# sourceMappingURL=style.css.map */